html, body {
  min-width: 100vh;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px !important;
  overflow-x: hidden; 
}

/* //////////////////////////////////////  NAVBAR  ////////////////////////////////////// */

.Navbar-Container {
  position: absolute;
  height: 50px;
}
.Navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  position: sticky;
  top: 0;
  z-index: 4;
  text-decoration: none;
  width: 100vw;
  height: 100px;
}

a {
  text-decoration: none;
  color: white;
  margin: 0 30px;
  font-weight: 500;
}

.Navbar-Search-Box {
  width: 50vw;
}

.Navbar-Search {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  color: #fff;
  margin-left: 50px;
}

.Navbar-Search-Hover {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  color: #000000;
  margin-left: 50px;
}

.Navbar-Browse-Box {
  width: 50vw;
  float: right;
}

.Navbar-Browse {
  float: right;

}

/* .Navbar-Browse-Arrow:hover {
  padding-left: 20px;
} */

/* //////////////////////////////////////  RETURN TO TOP ARROW  ////////////////////////////////////// */

.TopArrow-Container {
  position: relative;
  height: 150px;
  width: 100vw;
}

.TopArrow-Box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: fixed;
  left:50%;
  transform: translate(-50%, -50%);
  bottom: 0;
  z-index: 4;
  text-decoration: none;
  width: 80px;
  height: 60px;
}


/* //////////////////////////////////////  BROWSE LANDING INDEX  ////////////////////////////////////// */

.Browse-Landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;

}

.Browse-Landing p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  font-size: 4rem;
  color: rgb(86, 182, 255);
  margin: 0px 40px;
  padding: 6px 12px;
  flex: 0 1 100%;
}

.Browse-Landing p:hover {
  color: rgb(2, 206, 169);
}

/* //////////////////////////////////////  LYRICS  ////////////////////////////////////// */

.Lyrics-Translation {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}

.Lyrics-Container {
  /* background-color: rgb(2, 152, 206); */
  margin: 80px 20px 20px 50px;
  flex-basis: 0;
  flex: 1 1 0px

}

.Lyrics {
  white-space: pre-line;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: black;
  margin: 40px 40px;
}

/* //////////////////////////////////////  TRANSLATION  ////////////////////////////////////// */

.Translation-Container {
  /* background-color: rgb(2, 206, 169); */
  margin: 80px 20px 20px;
  flex-basis: 0;
  flex: 1 1 0px
}

.Translation {
  white-space: pre-line;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: black;
  margin: 40px 40px;
}

.inViewPlaceholder {
  height: 10px;
  width: 100vw;
}

/* //////////////////////////////////////  SEARCH BAR  ////////////////////////////////////// */

/* .Search-Home-Container {
    height: 100vh;
  width: 100vw;
background-color: rgb(2, 206, 169);
} */

.Search-Field {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.Search-Field-Content h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  font-size: 5rem;
  color: rgb(86, 182, 255);
  display: block;
  text-align: center;
  /* margin: 0 80px; */
}

.Search-Field-Content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  flex: 1;
  margin: 0 80px;
}

.Search-Field input {
  width: 40vw;
  height: 50px;
  border: 2px solid  rgb(86, 182, 255);
  border-radius: 4px;
}

.Search-Field button{
  background-color: rgb(86, 182, 255);
  border: none;
  font-size: 1rem;
  color: white;
  padding: 6px 12px;
  margin: auto;
  position: absolute;
  text-align: center;
  right:0;
  height: 54px;
  width: 56px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.Search-Field button:hover{
  background-color: rgb(58, 163, 255);
}

.Search-Field-Filler {
flex: 0.1 0 1vh;
}

#SearchVal {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: rgb(55, 55, 55);
  padding-left: 25px;
  outline:none;
}

.icon {
  font-size: 1.5rem;
}

.Search-Input-Container {
  position: relative;
}

/* //////////////////////////////////////  FLASH MESSAGE  ////////////////////////////////////// */

.Flash-Messages-Container {
  position: absolute;
  position: sticky;
  top: 0;
  z-index: 6;
}

.FlashMessage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-color: rgb(255, 86, 145);
  height: 15vh;
  width: 100vw;
}

.FlashMessage p {
  color: white;
  margin: 0 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  font-size: 2rem;

}

.FlashMessage span {
  color: white;
  margin: 0 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 2rem;
}

/* //////////////////////////////////////  DANCEABILITY ROUTE ////////////////////////////////////// */


/* DANCEABILITY */
.Browse-Danceability-v2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;
  /* border: 2px solid turquoise; */
}

/* DANCEABILITY */
.Browse-Danceability-v2 h1{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  color: rgb(130, 201, 255);
  opacity: 0.5;
  /* border: 2px solid blue; */
  text-align: center;
  margin: 20px 0 0;
  flex: 1;
  /* flex: 1 0 4vh; */
}


/* DANCEABILITY - NO TRACKS */
.Pagination-Slider-Placeholder-v2 {
  /* border: 4px solid red; */
  width: 100vw;
  flex: 4;
  /* flex: 1 0 36vh; */
}

/* DANCEABILITY - WITH TRACKS */
.Temp-v2 {
  /* border: 4px solid Purple; */
  width: 100vw;
  flex: 4;
}

.Danceability-Pagination-Slider-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  flex: 4;
}

.Danceability-Pagination-Slider {
  flex: 0 0 30vw;
}

/* DANCEABILITY */
.Danceability-Slider-Container-v2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* border: 2px solid yellow; */
  width: 100vw;
  flex: 1;
  /* flex: 1 0 3vh; */
}

/* DANCEABILITY */
.Danceability-Slider-Item-v2 {
  flex: 0 0 80vw;
}

/* DANCEABILITY - NO TRACKS */
.Danceability-No-Results-Container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100%;
  flex: 6;
  /* flex: 8 0 30vh; */
  /* border: 2px solid black; */
}

.Danceability-No-Results {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  font-size: 5rem;
  color: rgb(86, 182, 255);
}

/* //////////////////////////////////////  RESULT (HEADER & SUBHEADER) ////////////////////////////////////// */

.Danceability-Result-Container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* border: 2px solid black; */
}

.Result-Box {
  /* border: 2px solid blue; */
  text-align: center;
  width: 100vw;
  flex: 4;
}

.Result-Header {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  font-size: 5rem;
  color: rgb(86, 182, 255);
  /* margin: 15vh 0 0; */
}

.Result-Header:hover {
  color: rgb(2, 206, 169);
}

.Result-Subheader {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
  font-size: 2rem;
  color: rgb(86, 182, 255);
}

/* //////////////////////////////////////  MAIN CONTAINER ////////////////////////////////////// */

.Main-Container{
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  /* border: 4px solid red; */
}

.Result-Main {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  font-size: 5rem;
  color: rgb(86, 182, 255);
  margin-bottom: 80px;
}

.Result-Main:hover {
  color: rgb(2, 206, 169);
}

.Browse-Albums {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 0 60vh;
  /* border: 4px solid yellow; */
}

.Album {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 0 21%;
  margin: 40px;
}

.Album-Name-Box {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top:0;
  left: 0;
  height: 300px;
  width: 300px;
  background-color: #000000;
  opacity: 0.7;
}

.Album-Name {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #fff;
  z-index: 6;
  margin: 5px 5px;
}

.Main-Result-Container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100vw;
  height: 100%;
}

.Main-Pagination-Slider-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* border: 4px solid #3e8e41; */
  width: 100vw;
  flex: 3 0 20vh;
}

.Main-Pagination-Slider {
  flex: 0 0 30vw;
}

.Main-Pagination-Slider-Placeholder {
  /* border: 4px solid #3e8e41; */
  text-align: center;
  flex: 3 0 20vh;
}

/* //////////////////////////////////////  LOADING ICON  ////////////////////////////////////// */

.Loading-Box {
  position: absolute;
  z-index: 2;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}